/* Nav bar style */
.header{
    background-color: #ffff;
    font-family: Sora;
}
.nav{
    /* border:1px solid tomato; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
a, button{
    text-decoration: none;
    color: rgb(26, 20, 20);
    margin-left: 10px;
    
}
.nav> div> img{
    width: 100px;
    
}
.btn{
    border: 1px solid green;
    border-radius: 8px;
    padding: 5px;
    width: 80px;
}
.btn-bg{
    background-color:green;
    color: #ffff;
}